.about{
      width: 88%;
      margin: 0 auto;
      &__container{
            display: flex;
            justify-content: space-around;
            align-items: stretch;
            flex-wrap: wrap;
            & div {
                  margin: 1rem 1rem;
            }
      }

      & .paragraph {
            width: 70%;
      }

      & .heading__1{
            margin-bottom: 1rem;
      }
}