.header {
    height: auto;


    /// GAWE SPONSOR
    @include customRespond (1100) {
        position: relative;
    }

    &__jumbotron {
        padding: 0 6%;
        // width: auto;
        height: 499px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: url(../assets/header.jpg) no-repeat right top, linear-gradient(to bottom, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 80%, rgba(255, 255, 255, 1) 100%);
        // background-size: 50%;


        @include respond (tab-port) {
            background-position: 20% 0;
        }

        &-content {
            max-width: 1265px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        & h1 {
            color: $color-bk2;
            width: 50%;

            @include respond (big-desktop) {
                width: 127rem;
            }
            @include customRespond (1100) {
                width: 65vw;
                max-width: 550px;
            }
            @include customRespond(438) {
                width: 70vw;
            }

            & span {
                position: relative;

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 4px;
                    right: 0;
                    width: 100%;
                    background-color: $color-rd;
                    height: 13px;
                    opacity: .5;
                }
            }
        }

        & p {
            font-size: 1.8rem;
            font-weight: 300;
            width: 43%;
            @include respond (big-desktop) {
                width: 127rem;
            }
            @include customRespond (1100) {
                width: 60vw;
                max-width: 500px;
            }
            @include customRespond(438) {
                width: 70vw;
            }
        }
    }

    &__container {
        height: 53rem;
        display: flex;
        justify-content: space-between;
        max-width: 1265px;
        margin: -16rem auto 0;

        @include customRespond (1440) {
            justify-content: space-between;
            width: 88%;
        }

        @include customRespond (1265) {
            width: 88%;
        }
        @include customRespond (1100) {
            flex-direction: column;
            height: auto;
        }
    }

    &__image {
        align-self: flex-end;
        max-height: calc(35vw + 15px);
        height: 52rem;
        @include customRespond (1440) {
            max-height: calc(35vw);
        }
        @include customRespond (1100) {
            align-self: center;
            max-height: unset;
        }
        @include customRespond (700) {
            width: 90%;
            height: 90%;
        }
        @include customRespond (550) {
            width: 95%;
            height: 95%;
        }
    }


    &__form {
        height: auto;
        width: 38rem;
        max-width: 33%;
        background-color: $color-bk3;
        align-self: flex-end;
        border-radius: 8px;
        // margin-left: -4rem;
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.09);
        padding: 3.5rem 4.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include respond (mid-desktop) {
            padding: 2.5rem 2.3rem;
        }

        @include customRespond (1100) {
            align-self: flex-end;
            max-width: unset;
        }

        @include respond (tab-port) {
            padding: 2.5rem 2.5rem;
        }

        @include respond (tab-small) {
            width: 80vw;
            align-self: center;
            margin-left: 0;
            height: auto;
            padding: 1.5rem 2.5rem;
            margin-top: 2vw;
        }
        @include customRespond(550) {
            width: 80vw;
            max-width: 40rem;
        }
        @include customRespond (500) {
            width: 75vw;
            max-width: 300px;
            margin-top: 5vw;
            background-color: transparent;
            box-shadow: 0 0px 35px 0 rgba(0, 0, 0, 0.15);
        }


        &__head {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            @include customRespond (660) {
                width: 100%;
                margin: 0 auto;
            }
        }

        &__title {

            & h3 {
                font-weight: 500;
                font-size: 2.4rem;
                color: $color-wh2;
                line-height: 1;
                @include respond (mid-desktop) {
                    font-size: 2rem;
                }
                @include respond (tab-small) {
                    font-size: calc(2rem + 1vw);
                }
                @include customRespond (500) {
                    color: $color-bk3;
                }

            }

            & h4 {
                color: $color-wh2;
                font-weight: 300;
                font-size: 1.4rem;
                @include respond (mid-desktop) {
                    font-size: 1.2rem;
                }
                @include respond (tab-small) {
                    font-weight: 300;
                    font-size: calc(1.2rem + .5vw);
                }
                @include customRespond (500) {
                    color: $color-rd2;
                }
            }
        }

        &__playstore {
            width: 17rem;
            max-width: 48%;
            height: auto;
            margin-right: -3%;
            @include respond (tab-small) {
                display: flex;
                width: 50%;
                max-width: 25rem;
                height: auto;
                margin-right: 0;
            }
            @include customRespond (500) {
                align-self: center;
            }
            @include customRespond (380) {
                flex-direction: column;
                width: 40%;
            }

            & svg {
                display: block;
                position: relative;

                &:first-child {
                    margin-bottom: 1rem;
                }

                @include respond (tab-small) {
                    width: 100%;
                    height: 100%;
                    &:first-child {
                        margin-bottom: 0;
                        margin-right: 1vw;
                    }
                }
                @include customRespond (500) {
                    display: block;
                    position: unset;
                    top: unset;
                    transform: unset;
                    //& .kotak {
                    //      fill: transparent;
                    //}
                    //& .border {
                    //      fill: $color-grey5;
                    //}
                    //& .text-1, & .text-2 {
                    //      fill: $color-bk4;
                    //}
                }
                @include customRespond (380) {
                    &:first-child {
                        margin-bottom: 1vw;
                        margin-right: 0;
                    }
                }
            }
        }


        &__body {
            height: auto;
            margin-top: 2rem;
            @include customRespond (700) {
                margin-top: 2.2vw;
            }
        }
    }


    &__sponsor {
        height: 8rem;
        display: flex;
        width: 85%;
        margin: 10rem auto;
        justify-content: space-around;

        @include respond (big-desktop) {
            width: 127rem;
        }

        @include customRespond (1100) {
            width: 50%;
            flex-wrap: wrap;
            position: absolute;
            bottom: 15%;
            left: 4%;
        }

        @include customRespond (800) {
            width: 40%;
        }

        @include respond (tab-small) {
            width: 80%;
            flex-wrap: wrap;
            position: unset;
            margin: 4rem auto;
            height: auto;
        }

        &-item {
            height: 8rem;
            width: 12%;

            @include customRespond (1100) {
                width: 40%;
                margin: 2rem 0;
            }
            @include respond (tab-small) {
                width: 33%;
                position: relative;
            }
            @include customRespond (500) {
                width: 50%;
            }

            & svg {
                width: 100%;
                height: 100%;
                opacity: .3;
                @include customRespond (1100) {
                    width: 80%;
                    height: 80%;
                }
                @include customRespond (800) {
                    width: 90%;
                    height: 90%;
                }
                @include respond (tab-small) {
                    width: 70%;
                    height: 70%;
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }


        }

    }

}
