.navigation{
      position: fixed;
      background-color: transparent;
      height: 12rem;
      width: 100%;
      z-index: 10;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s all;
      display: flex;
      align-items: center;
      padding: 0 6%;
      @include respond (big-desktop) {
            padding: 0 calc((100vw - 127rem)/2);
      }
      @include respond(tab-small){
            z-index: 100;
      }
      @include customRespond(438){
            padding: 0 2%;
      }
      &__container{
            display: flex;
            align-items: center;
            width: 70%;
            height: 100%;
            transition: cubic-bezier(0.39, 0.575, 0.565, 1) .5s;
            @include respond(tab-small){
                  flex-direction: column;
                  align-items: flex-start;
                  position: absolute;
                  padding-bottom: 3rem;
                  top: 99%;
                  right: 0;
                  width: 50%;
                  height: auto;
                  background-color: $color-bk;
                  border-radius: 0 0 5px 5px;
                  order: -2;
                  z-index: -1;
                  visibility: hidden;
                  opacity: 0;
                  transform: scaleX(0);
                  transform-origin: right;
            }

            &--reveal{
                  transform: scaleX(1);
                  visibility: visible;
                  opacity: 1;
            }

      }
      
      &__item{
            margin: 0 2rem;
            list-style: none;
            font-size: 1.5rem;
            @include respond(tab-small){
                  padding: 2rem;
                  padding-left: 1rem;
                  width: 40vw;
                  max-width: 30rem;
                  font-size: 2rem;
                  border-bottom: 1px solid $color-grey;
            }

            //// LOGO
            &--logo{
                  
                  @include respond(tab-small){
                        flex-grow: 1;
                        height: 5rem;
                  }
                  & svg {
                        width: 5rem;
                        height: 5rem;
                  }
            }
            
      }

      &__link{
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            text-decoration: none;
            color: $color-bk;

            &--white{
                  color: $color-wh2;
            }
      }

      &__btn {
            display: flex;
            align-items: center;
            height: 5rem;
            min-width: 21rem;
            @include customRespond(438){
                  min-width: auto;
            }
            
            &:not(:last-child){
                  min-width: 16rem;
                  @include respond (big-desktop) {
                        margin-right: 4rem;
                  }
                  @include customRespond(438){
                        min-width: auto;
                        margin-right: 4vw;
                  }
            }

            & .btn--transparent{
                  font-weight: 500;
                  @include respond (big-desktop) {
                        background-color: $color-grn;
                        padding: .8rem 2rem;
                  }
                  
            }
            & .btn--red{
                  font-weight: 600;
            }

            & a {
                  padding: 1rem 2rem;
                  text-align: center;
                  @include customRespond(438){
                        padding: 1rem 1vw;
                  }
            }
            & span svg {
                  @include respond(tab-small){
                        fill: $color-bk;
                  }
            }
      }

      &--black{
            background-color: $color-bk;
            height: 7rem;
      }


      // BURGER KING

      &__burger{
            display: none;
            
            @include respond(tab-small){
                  display: block;
                  width: 5rem;
                  height: 5rem;
                  margin-left: 1rem;
                  order: 5;
            }

            &--icon{

                  & .circle{
                        stroke: $color-bk;
                        stroke-dasharray : 1130 1300; // penting
                        stroke-dashoffset: -1270;
                        transition: all .5s ease-out;
                  }
                  & .line-1{
                        stroke: $color-bk;
                        transition: all .5s ease-out;
                  }
                  & .line-2{
                        stroke: $color-bk;
                        transition: all .5s ease-out;
                  }
            }
      }

      &__popup{
            width: 100vw;
            height: 100vh;
            background-color: rgba($color-bk, .7);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0;
            visibility: hidden;
            display: none;

            &--reveal{
                  opacity: 1;
                  visibility: visible;
                  display: block;
            }
      }
}

.circle-in{
      stroke-dasharray : 1130 1300;
      stroke-dashoffset: -10 !important;
      stroke: $color-wh2 !important;
}
.line1-in{
      transform: rotate(-45deg) translate(-56%, 38%) scalex(1.1);
      stroke: $color-wh2 !important;
}
.line2-in{
      transform: rotate(45deg) translate(15%, -68%) scalex(1.1);
      stroke: $color-wh2 !important;
}