.btn{
      width: 100%;
      border: none;
      font-size: 1.5rem;
      font-family: 'Poppins';
      font-weight: 600;
      letter-spacing: 1px;
      border-radius: 7px;
      text-decoration: none;

      &--red{
            background-color: $color-rd2;
            color: $color-wh2;
      }

      &--transparent{
            background-color: transparent;
            color: $color-wh2 !important;
            
      }

      &--icon{
            display: flex;

            & span {
                  padding: 0 1rem;
            }
      }
}