.form{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      @include respond(tab-small){
            display: flex;
            flex-wrap: wrap;
            flex-direction: unset;
            justify-content: space-around;
      }
      @include respond(550){
            display: flex;
            flex-direction: column;
            flex-wrap: unset;
      }
      

      &__group{
            position: relative;
            &:not(:last-child){
                  margin-bottom: 12px;
            }
            //// 
            @include respond(tab-small){
                  width: 48%;
                  &:not(:last-child){
                        margin-bottom: 2rem;
                  }
            }
            @include customRespond(550){
                  width: 100%;
            }
            &:last-child{
                  @include respond(tab-small){
                        width: 98%;
                        margin: 0 auto;
                  }
            }
      }

      &__input{
            height: 4.5rem;
            width: 100%;
            font-size: 1.4rem;
            font-weight: 300;
            padding: 13px 13px 13px 55px;
            border-radius: 4px;
            border: none;
            background-color: $color-wh2;
            @include respond(tab-small){
                  padding-left: 4rem;
            }
            @include respond(tab-small){
                  height: 4.5rem;
                  padding: 1.5rem 1.5rem 1.5rem 4rem;
            }
            &::placeholder{
                  color: $color-grey;
            }

            &--grey{
                  border: 1px $color-grey5 solid !important;
                  background-color: $color-wh2;
            }
            /// UNTUK HEADER
            
            &--header{
                  @include respond(tab-small){
                        border: 1px $color-grey5 solid;
                        background-color: $color-wh2;
                        height: 4.5rem;
                        padding: 1.2rem 1.2rem 1.2rem 4rem;
                  }
                  &::placeholder{
                        color: rgba($color-grey,.7);
                  }
                  
            }

      }

      &__label{
            position: absolute;
            color: red;
            width: 24px;
            height: 21px;
            top: 50%;
            left: 13px;
            transform: translateY(-50%);
            cursor: pointer;
            @include respond(tab-small){
                  width: 1.8rem;
                  height: 1.8rem;
                  left: 1rem;
            }
            & svg{
                  height: 100%;
                  width: 100%;
            }
            /// UNTUK HEADER
      }

      & button{
            height: 5rem;
            margin-top: .8rem;
            margin-bottom: 1rem;
            @include respond(tab-small){
                  height: 4.5rem;
                  margin-top: 0;
                  margin-bottom: 1rem;
            }
            
      }


      //// HANYA UNTUK FORM HEADER 

      
}