
/* --------------------------------SECTION WORKFLOW----------------------------------- */ 


/* --------------------------------SECTION TRY----------------------------------- */ 
.section-try{
      position: relative;
      padding-bottom: 10vw;
      & svg {
            position: absolute;
            z-index: -1;
            width: 91%;
            top: -28.4vw;
            left: -3%;
      }
}

.try{
      &__container{
            width: 50%;
            margin: 0 auto;

            @include customRespond (1336) {
                  width: 70%;
            }

            @include respond (tab-small){
                  margin: 0 0 0 10vw;
                  width: 85vw;
            }
            @include customRespond (660) {
                  margin: 0 auto;
            }

            & h1 {
                  font-size: calc(32px + 2.63vw);
                  font-weight: 600;
                  line-height: 1.36;
                  display: block;
                  position: relative;
                  @include customRespond (660) {
                        margin: 0 auto;
                        margin-left: 5vw;
                  }
            }

            & div {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  @include customRespond (1336) {
                        justify-content: flex-start;
                  }
                  @include customRespond (660) {
                        flex-direction: column-reverse;
                  }
            }

            & a {
                  font-weight: 600;
                  font-size: 1.7rem;
                  width: 25.5rem;
                  padding: 1.6rem;
                  letter-spacing: 0;
                  @include respond (tab-small){
                        min-width: 24rem;
                        padding: 1.3rem;
                  }
                  @include customRespond (660) {
                        text-align: center;
                  }

                  & span {
                        padding-left: 1rem;
                        @include customRespond (660) {
                              display: none;
                        }
                  }
            }

            & p {
                  font-size: 1.8rem;
                  font-weight: 300;
                  width: 60%;
                  @include customRespond (1336) {
                        margin-left: 2rem;
                        width: 65%;
                  }
                  @include respond (tab-small){
                        margin-left: 1.11vw;
                  }
                  @include customRespond (660) {
                        text-align: center;
                        margin-bottom: 2vw;
                  }
            }
      }

      &__quote{
            &--left{
                  position: absolute;
                  color: $color-grn;
                  left: -4%;
            }
            &--right{
                  position: absolute;
                  color: $color-grn;
            }
      }
}

/* --------------------------------SECTION FEATURES----------------------------------- */ 

.section-features{
      background-color: $color-grey3;
      @include respond (tab-land) {
            padding-top: 10rem;
      }
}
