.heading__1{
      font-weight: 500;
      font-size: 3.6rem;
      font-family: 'Poppins';
      line-height: 1.28;
}

.heading__4{
      font-family: 'Poppins';
      font-size: 1.4rem;
      font-weight: 600;
      letter-spacing: 1.6px;
      color: $color-grn;
}

.paragraph{
      font-family: Poppins;
      font-size: 1.6rem;
      font-weight: 300;
      color: $color-bk4;
}

.heading__3{
      font-family: Poppins;
      font-size: 2.4rem;
      font-weight: 500;
      color: $color-bk2;
      line-height: 4.6rem;
}